[defaults]
inventory = inventory.ini
host_key_checking = False
deprecation_warnings = False
interpreter_python = auto_silent
vault_password_file = ~/.vault_pass.txt
roles_path = ./roles

[inventory]
ignore_invalid_groups = True

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s

